---
layout: landing
title: About Me
name_var: about_me
about_me: "This is a description about me"
projects: [
  {
    title: "### Tyler lamonda",
    description: "Experienced 3D Artist with a demonstrated history of working in the motion pictures and film industry. Skilled in Maya, ZBrush, 3ds Max, Softimage, and Photoshop. Strong arts and design professional with a Master of Arts (M.A.) focused in Architecture from Royal College of Art."
  },
  {
    title: "### ***Whiskytree***: \"Bolden\" - **Feature Film**, **Release Date Unknown**",
    description: "Matte Painting Sky Sequence in Establishing Shots, Set Dressing, Organic/Hard Surface Modeling, Texturing. Set Extension and Composite Support for Art Director."
  },
  {
    title: "### ***Whiskytree***: \"Best Fiends\" - **cinematic short**",
    description: "Production Lead, Creature Modeling, Blend Shapes, Texturing, Shading, Lighting, Layout, Look Development and Concept Composite CG Images and Shots."
  },
  {
    title: "### ***Whiskytree***: unanounced project - **documentary, release fall 2017**",
    description: "Creature/Organic/Hard Surface Modeling, Environment Layout, Matte Painting, Lighting, Shading, Texture Support for Lead Technical Director."
  },
  {
    title: "### ***Whiskytree***: \"Rogue One: A star wars story\" - **Feature Film, release 2016**",
    description: "Model and Texture Support for Lead Technical Director."
  },
  {
    title: "### ***Whiskytree***: \"how the rebels saved christmas\" - **duracell rogue one commercial, Released 2016**",
    description: "Hard Surface Modeling, Texturing, Set Dressing. Environment Layout and Set Extension Support for Lead Technical Director."
  },
  {
    title: "### ***2020 Venture***: \"chasing dead\" - **console game, release 2016**",
    description: "Character/Creature/Hard Surface Modeling, Texturing, Look Development, Shading, Lighting, Environment Layout and Resolved Technical Challenges in Game Engine Pipeline."
  },
]
skils: "This is a descroption about my skills."
software: [
  3dsmax.png,
  Mari-logo - Copy.png,
  arnold.png,
  softimage.png,
  terragen.png,
  unity.png,
  unreal.png
]
---
<section id="banner">
  <div class="inner">
    <h2>{{ page.title }}</h2>
  </div>
</section>

<section id="one" class="wrapper style5">
  <div class="inner">
    <h2>About Me</h2>
    {{ page.about_me | markdownify }}
  </div>
</section>

<section id="two" class="wrapper style5">
  <div class="inner">
    <h2>Projects</h2>
    {% for project in page.projects %}
      {{ project.title | markdownify }}
      {{ project.description | markdownify }}
    {% endfor %}
  </div>
</section>

<section id="three" class="wrapper style5">
  <div class="inner">
    <h2>Skills</h2>
    {{ page.skills | markdownify }}
  </div>
</section>

<section id="four" class="wrapper style5">
  <div class="inner">
    <h2>Software</h2>
    <div class="box alt">
      <div class="row uniform 50%">
        {% for image in page.software %}
        <div class="3u">
          <span class="image software">
            <img src="/images/{{ page.name_var }}/{{ image }}" alt=""/>
          </span>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>

<section id="fout" class="wrapper style5">
  <div class="inner">
    <h2>Education</h2>
    <div class="box alt">
      <div class="row uniform 50%">
        <div class="6u">
          <span class="image education">
            <img src="/images/{{ page.name_var }}/utah.png" alt=""/>
          </span>
        </div>
        <div class="6u">
          <span class="image education">
            <img src="/images/{{ page.name_var }}/royal college of art.png" alt=""/>
          </span>
        </div>
      </div>
    </div>
  </div>
</section>