---
layout: landing
video_reel: [
    {
        title: duracell rogue one - how the rebels saved christmas,
        vimeo_video: "https://player.vimeo.com/video/246219703",
        description: ""
    },
   
]
reel_description: |
  TL 2016-17
---
<!-- Banner -->
<section id="banner">
	<div class="inner">
		<h2>{{ site.title }}</h2>
		<p>{{ site.description | markdownify }}</p>
	</div>
	<a href="#one" class="more scrolly">Learn More</a>
</section>

<!-- One -->
<section id="one" class="wrapper style1 special">
  <div class="inner">
    <h2>Show Reel</h2>
    {% if page.video_reel != NULL %}
      <div align="center" class="embed-responsive embed-responsive-16by9">
          <video class="embed-responsive-item" controls loop autoplay>
            <source src="{{ site.baseurl }}/videos/reel/{{ page.video_reel }}" type="video/mp4">
          Your browser does not support the video tag.
          </video>
      </div>
    {% endif %}
    <p>{{ page.reel_description | markdownify }}</p>
	</div>
</section>

<!-- Two -->
<section id="two" class="wrapper alt style2">
  {% for post in site.posts %}
    <section class="spotlight">
      <div class="image">
        <a href="{{ site.baseurl }}{{ post.url }}">
        <img src="{{ site.baseurl }}/images/{{ post.name }}/{{ post.img }}" alt=""/>
      </a>
      </div>
      <div class="content">
        <h2>{{ post.title }}</h2>
        <p>{{ post.description }}</p>
      </div>
    </section>
  {% endfor %}
</section>
