---
layout: default
---
<article id="main">

  <header>
    <h1>{{ page.title }}</h1>
    <p>{{ page.description }}</p>
  </header>

  <section class="wrapper style5">
    <div class="inner">
      <!--<section><h4></h4></section>-->
      {% for image_item in page.image_items %}
        <section>
          {% if image_item.title != NULL %}
          <h4>{{ image_item.title }}</h4>
          {% endif %}
          {% if image_item.img  != NULL %}
          <dic class="4u"><span class="image fit"><img src="{{ site.baseurl }}/images/{{ page.name }}/{{ image_item.img }}" alt="{{ image_item.alt }}"/></span></dic>
          {% endif %}
          {% if image_item.video != NULL %}
            <div align="center" class="embed-responsive embed-responsive-16by9">
                <video class="embed-responsive-item" controls>
                  <source src="{{ site.baseurl }}/videos/{{ page.name }}/{{ image_item.video }}" type="video/mp4">
                Your browser does not support the video tag.
                </video>
            </div>
          {% endif %}
          {% if image_item.youtube_video != NULL %}
            <div align"center" class="embed-responsive embed-responsive-16by9">
            <iframe src="{{ image_item.youtube_video }}" frameborder="0" allowfullscreen></iframe>
            </div> 
          {% endif %}
          {% if image_item.vimeo_video != NULL %}
            <div align"center" class="embed-responsive embed-responsive-16by9">
            <iframe src="{{ image_item.vimeo_video }}" frameborder="0" allowfullscreen></iframe>
            </div>
          {% endif %}
          <p>{{ image_item.description }}</p>
        </section>
      {% endfor %}
      {{ content }}
    </div>
  </section>
  <section class="wrapper style4">
    <div class="inner">
    {% include portfolio_grid.html %}
    </div>
  </section>
</article>
